<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to <%= @project_name %></h1>
    
    <p>Hi <%= @user %>,<br />

    <p>You have successfully created a <%= @project_name %> account.

    <p>Now go forth and create some events!

    <p>Best,<br />
      The <%= @project_name %> Team.

  </body>
</html>


