<!DOCTYPE html>
<html>
  <body>
    <p>Hi <%= @user %>,<br />

    <p>Welcome to Get Together! By using Get Together to plan dinner with your friends, you'll be able to solicit their input on where to get dinner and then use our simple voting system to make a decision on where to eat.

    <p>Ready to give it a spin?  
      Go forth and <%= link_to "create a Get Together", url_for(:host => @host, :controller => "events", :action => :new) %>

    <p>Sincerely,<br />
      The <%= @project_name %> Team.

  </body>
</html>

