.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px; /*span-24*/
    margin-top: 30px;
}

/*body tag */
body {
    background-image: url("/images/bk-gradiant.PNG");
    background-repeat: repeat-x;
}


#home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    /*
    width: 940px;
    
    border-color: #d2ebf9;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    */

    padding: 10px;
    font-size: 120%;
}



#home #sign_up_btn {
    margin-left: 410px;
    font-size: 20px;
    text-align: center;
}


/*sign up */
#sign_up, #sign_in {
    margin-left: 410px;
    margin-right: auto;
    margin-bottom: 20px;
}

/*navigation tag */
.account {
    font-size: 120%;
    position: bottom;
}

nav ul {
    margin: 0 0 0 0;
}

nav ul li {
    
    display: inline;
    list-style: none;
    word-wrap: break-word;
}

.groups ul {
    font-size: 140%;
}
.groups ul li {
    margin-bottom: 5px;
}

ul .event_title {
    font-size: 80%;
}



/*header styling*/
header {

    /*
    border-style: solid; 
    border-width: 1px;
    */

}

header h1 {
    font-family: rockwell, arial, helvetica;

}

#banner a {
    text-decoration: none;
    color: black;
}


header nav {
    text-align: right;
}





/*section tag*/
section {

}
.vote {
//float: right;

}

.vote_up, .vote_down {
    width: 30px;
    height: 30px;
    background-image: 
    url("http://www.freeclipartnow.com/d/40241-4/arrow-bold-down.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;  
    font-size: 1px;
    text-indent: -9999em;
    cursor: pointer;
/*
display: block renders the actual bacgkround according to diensiosn why
text-indent: -9999em moves the text off the page
*/
}

.vote_up {
    rotation: 180deg;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.vote_count {
    text-align: center;
}



.event_list {
    padding-left: 0;
}

.event_list .event {
    border-color: #d2ebf9;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 0;
}


.element {
    padding-left: 0;
    border-color: #d2ebf9;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    margin-left: 0;

}

section ul li {
    list-style-type: none;
    display: block;

}




/*participants*/
#participants {
    float: right;

}



/*footer tag*/

footer {
    text-align: center;

    /*
    border-style: solid; 
    border-width: 1px;
    */

}

footer nav {


}



/*error & flash */
#error_explanation {
    color: #c00;
    
}

#error_explanation p {

}

#error_explanation ul li {

}

.field_with_errors {

}

.field_with_errors label {

}

