





.container {


}

/*body tag */
body {
    margin-left: auto;
    margin-right: auto;
    width: 960px; /*span-24*/
    margin-top: 10px;

    background-image: url("/images/background-offwhite.png");
}


#home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    padding: 10px;
    font-size: 120%;
}

#home #sign_up_btn {
    margin-left: 410px;
    font-size: 20px;
    text-align: center;
}


/*sign up */
#sign_up, #sign_in {
    margin-left: 410px;
    margin-right: auto;
    margin-bottom: 20px;
}

/*navigation tag */
.account {
    font-size: 120%;
    position: bottom;
}

nav ul {
    margin: 0 0 0 0;

}



nav ul li {
 
    display: inline;
    list-style: none;
    word-wrap: break-word;
}

nav ul li a {
    text-decoration: none;
    color: #222222
}

.groups ul {
    font-size: 140%;
}
.groups ul li {
    margin-bottom: 5px;
}


ul .event_title {
    font-size: 80%;
}



/*header styling*/


header {
}

header h1 {
    font-family: rockwell, arial, helvetica;

}

.search_form {
    border: 1px solid;
    font-size: 22px;
    padding-left: 200px;
    background-color: rgb(110, 139, 153);
    border-color: rgb(18, 30, 52);
    color: white;
    margin-bottom: 10px;
}
#search_place {
    font-size: 22px;
}

.search_form #input submit {
    font-size: 22px;
}

hr {
    margin: 0;
    background: none repeat scroll 0 0 transparent;
}

#banner a {
    text-decoration: none;
    color: black;
}

header nav {
    text-align: right;
    margin-top: 25px;
}


/*event creation*/
#create_event {
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    //padding: 30px;
    //width: 677px;
    //margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

#create_event_title_header, #event_dates_header, #create_event_submit_header {
    background-color: #E33100;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-top: -3px;
    padding: 5px 5px 5px 10px;

}

#event_inputs {
    //margin-left: 30px;
/*
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    height: 100%;
    padding: 30px;
    width: 260px;
    float: left;
*/
}

#create_event_title, #create_event_description, #create_event_submit_button {
   margin-top: -20px;
   padding: 20px;
}



#event_dates {
//    padding: 20px;
/*
    float: left;
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    padding: 30px;
    width: 300px;
    margin-top: 20px;
*/
}

#create_event_date, #create_event_time {
    margin-top: -20px;
    padding: 20px;
}

#create_event_submit {

}

.ui-datepicker {
    font-size: 14px;
    height: 240px;
}

/*section tag*/
section {

}

#event_create_header, #event_header {
    background: none repeat scroll 0 0;


}

#datepicker thead th {
    background: none repeat scroll 0 0 #FFFFFF;
}

/*top header bar */
#event_create_header h2, #event_header h2 {
    font-size: 24px;
    margin-bottom: 0;
}
/*events/:id*/
._header {
    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    padding: 10px;
    margin: 10px 2.5px 2.5px;
    min-height: 200px;
    font-size: 34px;
}

._header_title, ._header_description {
    width: 500px;
}
._header_organizer {
    font-size: 14px;
}

#main {
    width: 750px;

}

.hasCountdown {
    border: none;
}
/*counter*/
.countdown_amount {
    font-size: 16px;
}


.place_title {

}


.place_total_votes {
    float: right;
    height: 30px;
}

.place_total_votes_lbl {
    font-size: 16px;
}

.place_total_votes_count {
    //font-size: 120%;
}
.vote {

}

#voting {
    padding-left: 0;
    width: 750px;
}

.vote_up, .vote_down {
    width: 30px;
    height: 30px;
    background-image: 
    url("http://www.freeclipartnow.com/d/40241-4/arrow-bold-down.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;  
    font-size: 1px;
    text-indent: -9999em;
    cursor: pointer;
/*
display: block renders the actual bacgkround according to diensiosn why
text-indent: -9999em moves the text off the page
*/
}


#vote-info {
    font-size: 20px;
    margin-top: -80px;
}

#vote-info-lbl {
    width: 300px;
}

.vote_up {
    rotation: 180deg;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.vote_down {
    rotation: 0deg;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.vote_count {
    text-align: center;
}



.event_list {
    padding-left: 0;
    
}

.event_list .event {
    /*
    border-color: #d2ebf9;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 0;
*/

    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    padding: 10px;
    margin: 10px 2.5px 2.5px;

}

#voting .event {
    margin: 0;
    padding-left: 0;

}


.event_name, .event_name a {

    width: 700px;
    font-size: 30px;
    text-decoration: none;

}

.event_date, .event_date_main {
    margin-top: -173px;
    margin-left: 580px;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Limelight', serif;
    font-weight: 400;
    font-style: normal;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: rgb(18, 30, 52);
    padding: 2px;
    box-shadow: 1px 1px 3px #B4AAA0;
}

.event_date_main {
    margin-top: -60px;

}

.event_month {
    margin: 5px;
    color: white;
    background-color: #CC0000;
}

.event_date_num {
    font-size: 28px;
}

.event_day {
    margin: 5px;
}

.event_time {

}


.event_organizer {

}

.event_place_thumbnails {
    width: 550px;
    height: 100px;
    font-size: 16px;
}
.thumbnail {
    display: inline;
    width: 75px;
    height: 75px;
}
.empty_thumbnails {
    font-size: 20px;

}

.event_participant_count {
    margin-top: 10px;
    font-size: 20px;
}

.event_description {
    margin-top: 6px;
    font-size: 16px;
    font-style: helvetica;
}

.event_votes_remaining {
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    margin-top: -60px;
}


.place_container, .search_result, .place_info_detail {
/*
    padding-left: 0;
    border-color: #d2ebf9;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    margin-left: 0;
*/
    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #B4AAA0;
    margin: 10px 2.5px 2.5px;
    padding: 10px;
}


section ul li {
    list-style-type: none;
    display: block;    
}

.event {
    padding: 0;
}

/* search result */
.place_info_name {
    font-size: 26px;
}

.place_info_neighborhood {
    font-size: 18px;
}

.place_info_address {
    font-size: 14px;
}

.place_info_rating, .place_info_price {
    font-size: 16px;
}

.place_info_images {
    float: right;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.place_info_images img {
    margin-bottom: -5px;
}

.place_info_add_place_btn {
    text-align: right;

}

.place_info_review_header {
    font-style: italic;
}



/*participants*/
#participants {
    float: right;

}



/*footer tag*/

footer {
    text-align: center;

    /*
    border-style: solid; 
    border-width: 1px;
    */

}

footer nav {


}



/*error & flash */
#error_explanation {
    color: #c00;
    
}

#error_explanation p {

}

#error_explanation ul li {

}

.field_with_errors {

}

.field_with_errors label {

}

