

.container {
    margin: 0;
    width: 100%;
}

/*body tag */
body {
    background-image: url("/images/bg-body.jpg");
}

/*
img.bg {
        // Set rules to fill background 
        min-height: 100%;
        min-width: 1024px;

        // Set up proportionate scaling 
        width: 100%;
        height: auto;

        // Set up positioning
        position: fixed;
        top: 0;
        left: 0;

	z-index: -1;
}
*/

.left_flap {
    left: -22px;
    top: -71px;

    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #a61822;
    border-left: 6px solid transparent;
    border-right: 6px solid #a61822;
    position: relative;
    
}

.right_flap {
    right: -944px;
    top: -83px;
    width:0;
    height:0;

    border-top: 6px solid transparent;
    border-bottom: 6px solid #a61822;
    border-right: 6px solid transparent;
    border-left: 6px solid #a61822;
    position: relative;
}

.header_text {
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0;
    margin: 0px -22px 0 -22px;
    padding: 0;


    display: block;
    position: relative;
    text-align: center;
    background: #DF1F2C;

    -moz-box-shadow: 0px 2px 4px #aaa;
    -webkit-box-shadow: 0px 2px 4px #aaa;
    box-shadow: 0px 2px 4px #aaa;

}

#home {
    height: 500px;
    margin: 10px auto 20px auto;    
    font-size: 120%;    
}
#home_text {
    margin-left: 31px;
}

#home .sign_up_btn, #create_event input[type=submit], #sign_up input[type=submit],
#sign_in input[type=submit] {

    float: left;
    margin-left: 410px;
    margin-top: 30px;

    width: 120px;


    text-align:center;

    cursor:pointer;
    font-family: 'Cuprum', sans-serif;
    font-size: 28px;

    background: #6FCF00;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #aaa;
}

#home .sign_up_btn:hover, #home .sign_up_btn:hover a {
    background:#ACE768;
    color: #06C;
}

#home .sign_up_btn:active, #create_event input[type=submit]:active, #sign_up input[type=submit]:active, #sign_in input[type=submit]:active {
    position:relative;
    top:1px;
}

#home .sign_up_btn a {
    color:white;
    text-decoration: none;
}


.welcome {
    float:left;
    width: 370px;
    height:270px;

    border: 2px solid #aaa;
    padding: 15px;
    margin:15px;

    text-align:center;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    -moz-box-shadow: 1px 2px 3px #ccc;
    -webkit-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc;

}

.welcome_caption {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 18px;

    text-align:center;
}

.welcome_border {
    padding: 10px;

    text-align:center;
}


/*how*/
#how {
    border-spacing: 60px 15px;
}

.how_wrap {
    width: 200px;
    height: 300px;
    padding: 15px;
    padding-right: 20px;
    margin: 15px;
    
    display:table-cell;

    border: 2px solid #aaa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 1px 2px 3px #ccc;
    -webkit-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc;

}

.how_num {
    position: relative;
    top: -30px;
    left: -30px;
}

.num {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

    width: 50px;
    height: 50px;

    background: #172D56;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    
    box-shadow: 1px 2px 3px #ccc;
    text-align:center;

    color: white;

}

.how_header {
    margin-top: -50px;
    padding: 15px 0px;
    width: 100%;
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;

    text-align: center;

}

.how_icon {
    width: 100%;
    padding: 15px 0px;
    height: 150px;
    text-align:center;

}

.how_list {
    padding-left: 35px;
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.how_list li {
    display: list-item;
    list-style-type: disc;
}


/*statics*/
.about_text, .contact_text, .how_text {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 18px;
}






/*navigation tag */
#account {
    /*
    display: table-cell;
    vertical-align: middle;
    */
    float: right;
    margin-top: 5px;
    font-size: 14px;
    text-align: right;
    width: 170px;
    overflow:hidden;
}

nav ul {
    margin: 0 0 0 0;
}

nav ul li {
 
    display: inline;
    list-style: none;
    word-wrap: break-word;
    padding-left: 5px;
}

nav ul li a {
    text-decoration: none;
    //color: white;
    //color: #222222;

}

.groups {
    padding-left: 0;
    margin-right: 20px;
}

.groups li {
/*    
    font-size: 16px;
    font-weight: bold;
    //padding: 8px;
*/
    //margin: 0 5px;

    //background-color: #93aebf;
/*
    background-color: #FFFBF2;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;

    //box-shadow: 1px 1px 2px #B4AAA0;
*/
}

ul.groups li a {
    color: white;
    background-color: transparent;
    font-family: 'Cuprum', sans-serif;
    font-size:18px;
}

ul.groups li a:hover {
    color: #172df8;
//color: #30BD1A;
}
ul .event_title {
    display: none;
    position: absolute;
    float:left;
    width: 120px;
    background: #DF1F2C;
    z-index: 3;



/*
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    border-top: none;
*/
}

ul .event_title li {
    color: white;
    font-size: 14px;
    border:none;
    margin:0;
    font-weight: normal;
    display:block;
}



/*header styling*/


header {
}

header h1 {
    font-family: rockwell, arial, helvetica;
}

#header_wrap {
    
    //background-image: url("/images/bg-wood.jpg");
    background-color: #F9EED2;
    /*color: white;*/
    width: 100%;
}

#header_content {
    margin: 0 auto;
    width: 960px;
    height: 50px;
    padding: 15px 0px;
}

#search_wrap {
    background-color: #172d56;
    margin: 0 auto;
    //border-top: 4px solid #DF1F2C;
    border-bottom: 2px solid #AAA;
}

.search_form {    
    /*toggle off arrow thing */
    //background-color: #667eab;
    color: white;
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    padding: 0px 15px;
}

#search_no_find {
    float: left;
    width: 100px;
    margin-top: 38px;
    font-size: 14px;
    margin-left: 10px;
}

#search_no_find a:hover {
    color: yellow;
    background: none;
}

#search_no_find a {
    color: white;
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    background: none;
    text-decoration: none;
}

/*toggle
p input[type=text]:focus  {
    border:solid 2px black;
    //background:#EFF5FF;
    background: white;
    color:#000;
}

p input[type=text] { 
    background: grey;
}
*/
#search_text, #search_neighborhood {
    font-size: 16px;
    
/*
    color: #333;
    border-top: 1px solid #C3C3C3;
    border-left: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background: #E3E3E3;
    */
}



#search_header_btn {
    margin-top: 30px;
    //margin-left: 8px;
    cursor: pointer;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;

    border:1px solid #dcdcdc;

    display:inline-block;
    color:black;
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 14px;

    padding: 3px 12px;
    text-decoration:none;
    //text-shadow:1px 1px 0px #ffffff;
}

#search_header_btn:hover {
    color: #06C;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

#search_header_btn:active {
    position:relative;
    top:1px;
}

.search_form p {
    margin: 0;
}

p#search_place_container {
    float: left;
    width: 200px;
    margin: 0px 30px 0px 80px;
}

p#search_neighborhood_container {
    float: left;
    width: 190px;

}


p#search_btn_container, p#search_no_find_container {
    float: left;
    width: 100px;
    margin-left: 30px;
}

#search_text_label, #search_neighborhood_label, .time_label {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}


#manual_wrap {
    color: white;
    margin: 0 auto;
    display: none;
    background-color: #172D56;
    //border-top: 4px solid #DF1F2C;
    border-bottom: 2px solid #AAA;
}


p#venue_container {
    float:left;
    width: 200px;
    margin: 0px 30px 0px 80px;
}
#place_name  {
    font-size: 16px;
}

p#description_container {
    float: left;
    width: 200px;
}
#place_description {
    font-size: 16px;
}

p#event_container {
    float: left;
    width: 150px;
    margin-left: 23px;
}

p#manual_submit_container {
    float:left;
    width: 50px;
}
.manual_place_add_btn {
    width: 150px;
    font-size: 16px;
}
.new_place p {
    margin: 0;
}
#new_place, #manual_place_add_error {
    width: 960px;
    margin: 0 auto;
    display:none;
    overflow:hidden;
    padding: 0px 15px;
    /*toggle off arrow*/
    //background-color: #667EAB;
}

#new_place label {
    font-size: 16px;
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-weight: 400;

}


#new_place #place_submit {
    margin-left: 43px;
    margin-top: 29px;

    cursor: pointer;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #DFDFDF) );
    background: -moz-linear-gradient( center top, #EDEDED 5%, #DFDFDF 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #EDEDED;
    border: 1px solid gainsboro;
    display: inline-block;
    color: black;

    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px 12px;
    text-decoration: none;
}

#new_place #place_submit:hover {
    color: #06C;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

#new_place #place_submit:active {
    position:relative;
    top:1px;
}

p#manual_back_container {
    float:left;
    width: 20px;
    margin-top: 38px;
    margin-left: 76px;
}

#back_no_find {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 14px;

}
#back_no_find a {
    text-decoration: none;
    color: white;
}

hr {
    margin: 0;
    background: none repeat scroll 0 0 transparent;
}
#banner {
    /*display:table-cell;
    vertical-align: middle;
    */
    float:left;
    width: 251px;
    margin-top: -5px;
}

@font-face {
    font-family: CherryCreamSoda;
    src: url("/images/CherryCreamSoda.ttf");
}

#banner a {
    text-decoration: none;
    color: #df1f2c;
    font-family: CherryCreamSoda;
    font-size: 34px;
    text-shadow: white 2px 2px;

}


header nav {
    //text-align: right;
}

#content {
    margin: 0 auto;
    width: 960px;

}

#nav_wrap {
    float: left;
    background: #DF1F2C;
    margin-left: 10px;
    box-shadow: 5px 3px #a61822;
    -moz-box-shadow: 5px 3px #a61822;
    -webkit-box-shadow: 5px 3px #a61822;

    //border-bottom: 1px solid #172D56;
    //border-radius: 0px 15px 15px 0px;
}

.arrow {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #F9EED2;
    float: left;
}

.search_form p, #new_place p {
    padding: 10px 0px;
}



.arrow_left {
    border-top: 42px solid transparent;
    border-bottom: 41px solid transparent;
    border-left: 60px solid #172D56;
    float:left;
    margin-left: -15px;
}

.arrow_right {
    border-top: 42px solid transparent;
    border-bottom: 41px solid transparent;
    border-right: 60px solid #172D56;
    float:right;
    margin-right: -15px;
}

#navbar {
    float: left;
    padding-left: 5px;
    //margin-top: 13px;
    /*
    display: table-cell;
    vertical-align: middle;
    */
}

/*nav buttons*/
.nav_button {
    /*
    -moz-box-shadow:inset 0px 1px 37px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 37px 0px #ffffff;
    box-shadow:inset 0px 1px 37px 0px #ffffff;
*/
    background-color:transparent;

    /*
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    */
    //border:1px solid #dcdcdc;
    display:inline-block;

    //color:#df1f2b;

    padding: 12px 14px;
    text-decoration:none;
    //text-shadow:1px 1px 0px #df1f2b;
}
.nav_button:hover {
    //background-color: #dfdfdf;
}
.nav_button:active {
    position:relative;
    top:1px;
}


#main {
    /*
      float: right;
    width: 760px;
    */
    width: 960px;
}

#footer_wrap {
    margin: 0 auto;
    background-color: black;
}


#create_event_title, #create_event_description, #create_event_submit_button, 
#create_event_date, #create_event_time {
   margin-top: -20px;
   padding: 20px;
}

#event_submit {
    font-size: 20px;
    background-color: white;
    color:black;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

thead th {
    background-color: white;
}

#event_submit:hover {
    color: #0099FF;
}



/*form font, button*/

#create_event .field, #create_event input {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#create_event label {
    font-weight: 400;
}

#create_event input:hover {
    border: 1px solid #06C;
}
#create_event input[type=submit]:hover {
    border: 0px;
    background:#ACE768;
    color: #06C;
}

/*overwrite sign_up_btn stuff*/
#create_event input[type=submit], #sign_up input[type=submit], #sign_in input[type=submit] {
    float: none;
    width: 100px;
    padding: 5px 15px;
    margin:0px 0px 0px 220px;
    color:white;
    border: 0px;
}

#sign_up input[type=submit]:hover, #sign_in input[type=submit]:hover {
    background:#ACE768;
    color: #06C;
}


/*section tag*/
section {
    min-height: 600px;
    //width: 950px;

}

#event_create_header, #event_header {
    background: none repeat scroll 0 0;
}


/*top header bar */
#event_create_header h2, #event_header h2 {
    font-size: 24px;
    margin-bottom: 0;
}

/*events/:id*/
._header {
    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    //box-shadow: 1px 1px 3px #B4AAA0;
    padding: 10px;
    margin: 10px 2.5px 2.5px;
    overflow: hidden;
    font-size: 34px;
}

._header_title, ._header_description, ._header_organizer, ._header_timeout {
    width: 500px;
    
}

._header_description {
    font-size: 16px;
}
._header_organizer {
    font-size: 14px;
}
._header_stats {
    font-size: 16px;
    margin-left: 5px;
}
._header_timeout {
    font-size: 18px;
}

._header_leader {
    font-size: 18px;
}
._header_leader a {
    text-decoration: none;
}



.hasCountdown {
    border: none;
}


/*place voting stuff*/
.place_total_votes {
    float: right;
    margin: 0;
    text-align: center;
    margin-top: -8px;
}

.place_total_votes_count {
    font-size: 36px;
}

.place_total_votes_lbl {
    font-size: 10px;
    margin-top: -10px;
}

/*place info details*/
.place_detail {
    margin-left: 46px;
}

.place_info_name a {
    margin-left: -1px;
    text-decoration: none;
}

.place_top_voters {
    width: 500px;
}
.top_voters {
    font-size: 16px;
}
.place_vote_image {
    float: right;
}

/*counter*/
#votebar {
    width: 270px;
    margin-left: 175px;


    position: fixed;
    bottom: 0px;
    padding: 5px;
    display: block;

    background-color: white;
    //box-shadow: 1px 1px 3px #B4AAA0;
    overflow: hidden;

    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;

}


#vote-info {
    width: 70px;
    border-color: black;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    padding-right: 10px;
}

#timer-info {

    width: 180px;
    border: none;

}
#vote-info-lbl, #timer-info-lbl {
    font-size: 14px;
    text-align: center;
}

#votes_remaining {
    font-size: 30px;
    text-align: center;
}

#timer {
    float: right;
    font-size: 20px;
    text-align: center;
}

#time_remaining {
    margin-top: 10px;
    font-size: 20px;

}

.countdown_amount {
}


/*place box voting*/
/*we should make buttonlike w/ :hover and shiet but...i am lazy*/
.vote {
    width: 31px;
    float: left;
    margin-top: 8px;
    margin-right: 15px;
}

.vote_up, .vote_down, .vote_count {
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;  
    cursor: pointer;
}
.vote_down {
    background-image: url("/images/vote_down.png")
}

.vote_up {
    background-image: url("/images/vote_up.png")
}

.vote_count {    
    font-size: 20px;
    margin-top: 2px;
    text-align: center;
}



.event_list {
    padding-left: 0;
    margin: 0;
}

/*devise auth styling */

#sign_in, #sign_up, #edit_user {
    margin: 0 auto;
    width: 360px;
    background: #F4F4F4;
}

#sign_up #user_new, #sign_in #user_new, #sign_in #user_edit {
    margin-top: -20px;
    padding: 20px;
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 18px;

}
#sign_up #user_new label, #sign_in #user_new label, #sign_in #user_edit label {
    font-weight: 400;
}

#sign_up input, #sign_in input {
    font-family: 'Rosario', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#create_event, #sign_in {
    margin: 0 auto;
    width: 360px;
    background: #F4F4F4;

}

.event_list .event, .no_events, #how, #about, #contact, #home, #sign_up_wrap, #sign_in_wrap, #edit_user_wrap, #create_event_wrap  {

    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    //box-shadow: 1px 1px 3px #B4AAA0;
    padding: 10px;
    margin: 10px 2.5px 2.5px;

}

.event {
    //min-height: 220px;
}

#voting .event {
    margin: 0;
    padding-left: 0;

}


.event_name, .event_name a {

    width: 700px;
    font-size: 30px;
    text-decoration: none;

}

.event_date, .event_date_main {
    /*
    margin-top: -173px;
    margin-left: 580px;
    margin-right: 20px;
*/
    float: right;
    text-align: center;
    font-size: 14px;
    font-family: 'Limelight', serif;
    font-weight: 400;
    font-style: normal;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: rgb(18, 30, 52);
    padding: 2px;
    box-shadow: 1px 1px 3px #B4AAA0;
    min-width: 80px;
}

.event_date_main {
    float: right;
    margin: 0;
    font-size: 14px;
    padding: 5px;
    min-width: 75px;
}

.event_month {
    margin: 2px;
    color: white;
    background-color: #CC0000;
}

.event_date_num {
    font-size: 18px;
}

.event_day {
    margin: 2px;
}

.event_time {

}


.event_organizer {

}

.event_place_thumbnails {
    width: 575px;
    //height: 100px;
    font-size: 16px;
}
.thumbnail {
    display: inline;
    width: 75px;
    height: 75px;
}
.empty_thumbnails {
    font-size: 20px;

}

.event_participant_count {
    font-size: 20px;
}

.event_description {
    margin-top: 6px;
    font-size: 16px;
    font-style: helvetica;
}

.event_votes_remaining {
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    //margin-top: -60px;
}

.place_container, .place_header {
    width: 590px;
}

.place_header {
    min-height: 60px;
}
.place_container, .search_result, .place_info_detail {
    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    //box-shadow: 1px 1px 3px #B4AAA0;
    margin: 10px 2.5px 2.5px;
    padding: 10px;
    overflow: hidden;
}


section ul li {
    list-style-type: none;
    display: block;    
}

.event {
    padding: 0;
}

/* search result */
.place_info_name {
    font-size: 26px;
}

.place_info_neighborhood {
    font-size: 18px;
}

.place_info_address {
    font-size: 14px;
}

.place_info_rating, .place_info_price {
    font-size: 16px;

}
.place_info_comments_title, .place_info_all_photos_title {
    font-size: 12px;
    font-style: italic;
}
.place_info_comments {
    font-size: 12px;
    min-height: 100px;
}

.place_info_images {
    float: right;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-left: 15px;
    overflow:hidden;
    max-height: 200px;  /*not sure bout this*/
}

.place_info_all_photos {
    padding: 20px;
    vertical-align: middle;
}
.place_info_images img {
    margin-bottom: -5px;
}


.place_info_add_place_btn {
    text-align: right;
    margin-top: 5px;
    bottom: auto;
}

.add_form {
    background-color: #333333;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    margin-left: 515px;
}

.place_add_btn {
    width: 150px;
    font-size: 19px;
}

.place_add_button {
    background-color: #333333;
    border: medium none;
    color: white;
    cursor: pointer;
    font-size: 19px;
}
.place_add_button:hover {
    color: yellow;
}

.place_info_review_header {
    font-style: italic;
}

.place_info_review_links a { 
    text-decoration: none;
    padding-right: 8px;
}

.place_info_remove {
    font-size: 10px;
}

/*stars thanks google */
.rsw-starred {
    float: left;
    position: relative;
    overflow: hidden;
    background: no-repeat url(http://maps.gstatic.com/mapfiles/reviews/widget2.png) -26px 0;
    width: 13px;
    height: 13px;
}
.rsw-unstarred {
    float: left;
    position: relative;
    overflow: hidden;
    background: no-repeat url(http://maps.gstatic.com/mapfiles/reviews/widget2.png) 0 0;
    width: 13px;
    height: 13px;
}

/*participants*/
#participants {
    float: right;
    margin-top: 7px;
    margin-right: 2px;
    padding: 5px;

    background: none repeat scroll 0 0 white;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 120px;
    overflow: hidden;

}

.participants_header {
    font-size: 16px;
    font-weight: bold;    
}

/*footer tag*/

footer {
    text-align: center;
    margin-top: 30px;

}

footer nav {


}

footer nav ul li a {
    margin-left: 20px;
    font-size: 16px;
}


/*error & flash */
#error_explanation {
    color: #c00;
    
}

#error_explanation p {

}

#error_explanation ul li {

}

.field_with_errors {

}

.field_with_errors label {

}

