<ul class = "event_list">

  <% @events.each do |event| %>

  <div class = "event">
      <li>
	<%= link_to event.title, event_path(event.id) %><br />
	<%= event.description %><br />	
	<%= event.event_date.nil? ? "" : 
	    event.event_date.strftime("%I:%M %p, %A, %b. #{event.event_date.day.ordinalize}") %><br />
      <li>
    
    </div>
  
  <% end %>

</ul>
