<ul class = "event_list">

  <% @events.each do |event| %>

  <div class = "event">
      <li>
	<%= link_to event.title, event_path(event.id) %><br />
	<%= event.description %><br />
	<%= event.event_date %><br />
	<%= event.starting_votes %><br />	
      <li>
    
    </div>
  
  <% end %>

</ul>
