
<div class="vote_up" data-place=<%= place.id %> >
</div>

<!-- sum of participants votes -->
<div class="vote_count">

  <% if place.votes.empty? %>
  <%= 0 %>
  <% else %>
  <% v = place.votes.find_by_participant_id(participant) %>
  <%= v.nil? ? 0 : v.vote %>
  <% end %>


</div>

<div class="vote_down" data-place=<%= place.id %>>
</div>






