
<div class="vote_up" data-place=<%= place.id %> >
Vote Up
</div>

<!-- sum of participants votes -->
<div class="vote_count">
  <% if place.votes.empty? %>
  <%= 0 %>
  <% else %>
  <%= place.votes.inject(0) {|sum, hash| sum + hash[:vote].to_i} %>
  <% end %>
</div>

<div class="vote_down" data-place=<%= place.id %>>
  Vote_down
</div>






