<!-- participants -->

<div id = "participants"> 

  <div class="participants_header">
  Participants
<!-- (<%= @participants.count %>) 
-->
  </div>

<p>
  <ul class = "participant_list">

    <% @participants.each do |participant| %>

    <div class = "participant">

      <li>
	<%= participant.user.username %><br />
      </li>
    </div>

    <% end %>

    <ul>

</div>
