<h2>Events#show (places)</h2>

<!-- event detail - places -->

<ul class = "event_main_list">

  <% @places.each do |place| %>

  <div class = "places">
    <li>

      <%= link_to place.name, 
	  event_place_path(params[:id], place.id) %><br />

      Description: <br />
      <p><%= place.description %>

    </li>
  </div>
  
  <% end %>





<ul>

