
<div id="about">
  <div class="header_wrapper">
    <h2 class="header_text">About</h2>
  </div>

  <div class="left_flap"></div>
  <div class="right_flap"></div>

  <div class="about_text">

    <span style="font-size:24px;">Status</span>

    <p>
    Get Together is dead.  x_x But if you want to use it be our (only) guest!
    </p>

    <p>
      We tested whether people would adopt voting mechanics toward group planning.
      In short, some votes are more valuable than others, and most people would rather send a text-message, a phone call, add to an email-chain - anything other than fumbling around with an ugly website.
    </p>

    <p>    
      <%= link_to "More thoughts", "http://www.alanverga.com" %> on the subject.
    </p>
    
    <span style="font-size:24px;">Access</span>

    <p>
      Get Together was constructed using Ruby on Rails.  
    </p>
    <p>
      <%= link_to "Source is available", "http://github.com/vergeman/groupie" %> (the project was previously called 'groupie') if you're remotely curious about anything.
      </p>
  </div>

</div>
