
<div id="about">
  <div class="header_wrapper">
    <h2 class="header_text">About</h2>
  </div>

  <div class="left_flap"></div>
  <div class="right_flap"></div>

  <div class="about_text">

    <span style="font-size:24px;">Status</span>

    <p>
      The Get Together prototype is dead.  x_x
    </p>

    <p>
      We aimed to test whether people would adopt voting mechanics toward group planning.
    </p>
    
    <p>Unfortunately, some votes are more valuable than others.</p>

    <p>Most people would rather send a text-message, a phone call, or add to an email-chain, rather than fumble around with an ugly website.
    </p>

    <p>    
      <%= link_to "More thoughts", "http://www.alanverga.com" %> on the subject.
    </p>
    
    <span style="font-size:24px;">Access</span>

    <p>
      Get Together was constructed using Ruby on Rails.  
    </p>
    <p>
      <%= link_to "Source is available", "http://github.com/vergeman/groupie" %> (the project was previously called 'groupie') if you're remotely curious about anything.
      </p>
  </div>

</div>
