
<div id="about">

  <h1>About</h1>
  <span class="about_text">
    <p>
      Get Together provides you with a tool to decide where to eat with your friends while minimizing the time and effort spent doing so.
    <p> 
      Our aim is to make the process of planning a Get Together with friends as painless as possible. And hopefully somewhat fun!
    <p> 
      Get Together is currently in prototype.  We aim to test whether people will adopt voting mechanics toward group planning.
  </span>
</div>
