<h1>Contact</h1>
<div id="contact">
<!-- note: need to cipher mailto -->
<p>Please tell us what you think about Get Together! Send your feedback to the Get Together team at <%=mail_to "testourapp@gmail.com.", "testourapp@gmail.com" %>
</div>
