
<div id="contact">

  <!-- note: need to cipher mailto -->
  <h1>Contact</h1>

  <span class="contact_text">

    <p>Please tell us what you think about Get Together! 

    <p>We know we're not the slickest prototype around.  We'll work on sprucing ourself up.
    <p>In the meantime, send your feedback to the Get Together team at <%=mail_to "testourapp@gmail.com.", "testourapp@gmail.com" %>

  </span>
</div>
