
<div id="contact">

  <!-- note: need to cipher mailto -->
  <div class="header_wrapper">
  <h2 class="header_text">Contact</h2>
  </div>
  
  <div class="left_flap"></div>
  <div class="right_flap"></div>


  <div class="contact_text">

    <p>Please tell us what you think about Get Together! 

    <p>We know we're not the slickest prototype around.  We'll work on sprucing ourself up.
    <p>In the meantime, send your feedback to the Get Together team at <%=mail_to "testourapp@gmail.com.", "testourapp@gmail.com" %>

  </div>

</div>
