<div id="home">

  <div class = "header_wrapper">
    <h2 class="header_text">Welcome</h2>
  </div>

  <div class="left_flap"></div>
  <div class="right_flap"></div>

  <div id="home_text">

    <!--old
       <p> Get Together helps manage preferences when making social plans with your friends.

       <p> Easily add bars and restaurants, vote on where you want to meet, and avoid the confusion of email chains!
	 -->

    <div id="welcome1" class="welcome">

      <div class="welcome_caption">

	<span style="font-size:30px;">Organize</span>
	<p>Plan a night on the town with your friends
	  <br> Suggest places and easily track preferences
	  
	</p>

      </div>


      <%= image_tag "/images/welcome-1.png", :alt => "Decide what to do", 
      :class=>"welcome_border" %>

    </div>  

    <br>
    <div id="welcome2" class="welcome">
      <div class="welcome_caption">
	<span style="font-size:30px;">Vote</span>
	<p>Everyone gets a chance to choose
	  <br>Up or down-vote where you want to go
	</p>
      </div>

      <%= image_tag "/images/vote-how.png", :alt => "Vote to decide", 
      :class=>"welcome_border", :style=>"margin-top:-15px;" %>

    </div>


  <!--show sign in button -->
  <% unless user_signed_in? %>
  <div class="sign_up_btn" style="margin:0 auto;">
    <%= link_to "Sign Up", new_user_registration_path, :id => "sign_up_btn" %>
  </div>
  <% end %>


  </div>




</div>


