
<div id="how">

  <h1>How It Works</h1>

  <ol id="how_list">

    <li><b>Create an event!</b> 

      <span class="how_text">
	<p>Title it (ex. Hump Day Drinks), provide the date and time, then propose one or more places you'd like to go.</li>
    </span>

    <li><b>Send the link to your friends.</b>

      <span class="how_text">
	<p>We will send you an email with with a link that you can easily forward to friends -- you can even Gchat it to them.</li>
    </span>


    <li><b>Your friends suggest other places and vote.</b> 
      <span class="how_text">
	<p>Whoever receives the link will be able to suggest places that they would like to go to and then they vote on their favorite choices.
      </span>

    <li><b>Voting closes.</b> 

      <span class="how_text">
	<p>Your friends have chosen! Once the polls close, we will send you an email that tells you which event location you and your friends decided upon.  Remember to forward the information on to you friends!
      </span>

  </ol>


</div>
