
<div id="how">

  <div class="header_wrapper">
    <h2 class="header_text">How It Works</h2>
  </div>

  <div class="left_flap"></div>
  <div class="right_flap"></div>




    <div id="how1" class="how_wrap">

      <div class="how_num num">
	1
      </div>

      <div class="how_header">
	Create
      </div>


      <div class="how_icon">
	<%= image_tag "/images/calendar.png", :alt => "Create!" %>
      </div>

      <ul class="how_list">
	<li>Name your event</li>
	<li>Set a date and time</li>
	<li>Add places to visit</li>
      </ul>

    </div>


    <div id="how2" class="how_wrap">

      <div class="how_num num">
        2
      </div>

      <div class="how_header">
	Invite
      </div>


      <div class="how_icon">
	<%= image_tag "/images/invite.png", :alt => "Invite!" %>
      </div>

      <ul class="how_list">
	<li>Forward the email</li>
	<li>IM the invite link</li>
	<li>Invite your friends</li>
      </ul>
    </div>



    <div id="how3" class="how_wrap">

      <div class="how_num num">
        3
      </div>

      <div class="how_header">
	Vote
      </div>


      <div class="how_icon" style="margin-top: 20px;">
	<%= image_tag "/images/vote-how.png", :alt => "Choose and Vote" %>
      </div>

      <ul class="how_list" style="margin-top: -20px;">
        <li>Suggest places</li>
        <li>See preferences</li>
	<li>Vote your favorite</li> 
      </ul>

    </div>




<!--
  <ol id="how_list">

    <li><b>Create an event!</b> 

      <span class="how_text">
	<p>Title it (ex. Hump Day Drinks), provide the date and time, then propose one or more places you'd like to go.</li>
    </span>

    <li><b>Send the link to your friends.</b>

      <span class="how_text">
	<p>We will send you an email with with a link that you can easily forward to friends -- you can even Gchat it to them.</li>
    </span>


    <li><b>Your friends suggest other places and vote.</b> 
      <span class="how_text">
	<p>Whoever receives the link will be able to suggest places that they would like to go to and then they vote on their favorite choices.
      </span>

    <li><b>Voting closes.</b> 

      <span class="how_text">
	<p>Your friends have chosen! Once the polls close, we will send you an email that tells you which event location you and your friends decided upon.  Remember to forward the information on to 
	  your friends!
      </span>

  </ol>
-->

</div>
