<!--review information-->
<br />    
<br />
    
<div class="place_info_review_links">
  <% place.external_links.blank? ? "" : %>
  
  <span class="place_info_review_header">Reviews</span>
  <br />
  <% place.external_links.each do |review, link| %>
  <%= link_to review, link, :target => "_blank" %> <br />
  <% end %>
</div>
