<!--review information-->
<br />    
<hr />
    
<div class="place_info_review_links">
  <% place.external_links.blank? ? "" : %>

  <div class="place_info_review_header">Reviews</div>
  <p>
  <% place.external_links.each do |review, link| %>
  <%= link_to review, link, :target => "_blank" %>
  <% end %>
  </p>
</div>
