<!-- comments partial -->
<br />
<div class="place_info_comments">

  <div class="place_info_comments_title">
    Comments<br />
  </div>

  <% place.comments.each do |comment| %>
  <%= comment %><br />
  <% end %>
</div>
