
<!--render  singular place -->
  <div id="<%= @place.cid %>" class="place_info_detail">

    <%= render :partial => 'places/place_info', :layout => false,
    :locals => { :place => @place } %>

  </div>

<!--#end each place-->






